src/main/java/mypackage/test.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:tns="http://web.cbr.ru/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             targetNamespace="http://web.cbr.ru/"
             name="FAFINANCIALASSETWS">
    <types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://web.cbr.ru/"
                    xmlns:tns="http://web.cbr.ru/" elementFormDefault="qualified">
            <complexType name="BicToIntCode">
                <sequence>
                    <element name="BicCode" type="xsd:int"/>
                </sequence>
            </complexType>
            <element type="tns:BicToIntCode" name="BicToIntCode"/>
            <complexType name="BicToIntCodeResponse">
                <sequence>
                    <element name="BicToIntCodeResult" type="xsd:int" />
                </sequence>
            </complexType>
            <element type="tns:BicToIntCodeResponse" name="BicToIntCodeResponse"/>
        </xsd:schema>
    </types>
     <message name="BicToIntCode">
        <part element="tns:BicToIntCode" name="request"/>
    </message>
    <message name="BicToIntCodeResponse">
        <part element="tns:BicToIntCodeResponse" name="result"/>
    </message>
    <portType name="WSPORTTYPE">
         <operation name="wsBicToIntCode">
            <input message="tns:BicToIntCode" name="BicToIntCode"/>
            <output message="tns:BicToIntCodeResponse" name="BicToIntCodeResponse"/>
        </operation>
    </portType>
    <binding type="tns:WSPORTTYPE" name="WSBINDING">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="wsBicToIntCode">
            <soap:operation soapAction="wsBicToIntCode"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>
    </binding>
    <service name="WSSERVICE">
        <port binding="tns:WSBINDING" name="WSPORT">
            <soap:address location="WS"/>
        </port>
    </service>
</definitions>